.buttonred {
    background-color: red;
}
.buttonblue {
    background-color: blue;
}
.buttonblack {
    background-color: black;
}

.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.black {
    background-color: black;
}
.aiueo {
    font-size: 30px;
}